
<section class="card-location">
  <div class="location">
    <h1 style="padding-top: 1em; font-weight: bold;">Frequently Asked Questions <h1><br>
    <ol>
      <li style="font-weight: bold;"> Do you sell to the public?</li><br>
      	<li> We are direct importers and sell directly to the public at irresistible wholesale prices.</li><br><br>
      <li style="font-weight: bold;"> Why don’t you offer “free delivery”?</li><br>
      	<li> The answer is in our price! “Free delivery” means that those services are included in the price of the item. At Artisan Furniture, our price reflects the true wholesale value of the product you are buying. While we do not deliver ourselves, we work with like minded value-driven, reasonably priced third party couriers that are happy to take on the job of getting your purchased furniture safely to your home.</li><br><br>
      <li style="font-weight: bold;"> How much does delivery cost?</li><br>
				<li> Delivery cost varies depending on where you live and the number of pieces being delivered. Once you finalize your selection, you/we can call the courier with your address and they will provide you with a quote.</li><br><br>
			<li style="font-weight: bold;"> Can I pick up my furniture?</li><br>
				<li> Absolutely! This is actually our preferred method of service. You provide a vehicle that can safely transport your furniture along with protective blankets or padding and other packing material that you’ll need, and our staff will assist you in loading your vehicle. Please note that it will be your responsibility to secure the merchandise properly as we cannot assume any liability for injury or damage to you, your property or others arising from your loading or transport of merchandise. Keep in mind you will also need to arrange for help to safely unload your furniture upon arrival to the furnitures destination.</li><br><br>
			<li style="font-weight: bold;"> Are your prices negotiable? What if I buy multiple items?</li><br>
				<li> We are a different kind of furniture store. Our prices are pre negotiated allowing us to offer wholesale prices to the public. We do not inflate prices to provide deep discounts, promotions, or amazing sales. Rest assured knowing that after purchasing from Artisan you recieved our best price. Furthermore, we have a relaxed attitude towards selling. We are here to help you select the right piece of furniture, not pressure you into buying.</li><br><br>
			<li style="font-weight: bold;"> Are all products shown online available at the stores?</li><br>
				<li> We try to maintain a wide variety of products shown online to reflect the styles we carry in our stores. Please call regarding a specific item’s availability before embarking on the journey to purchase it.</li><br><br>
			<li style="font-weight: bold;"> Do you offer layaway?</li><br>
				<li> Yes we do. We offer a simple layaway program. Please inquire for details.</li><br><br>
			<li style="font-weight: bold;"> What kinds of payment do you accept?</li><br>
				<li> We accept Cash, Visa, MasterCard, American Express, and Discover Card. All orders must be paid in full prior to pick up.</li><br><br>
			<li style="font-weight: bold;"> What is your return policy?</li><br>
				<li> While all sales are final, we do however offer a 7 days return policy for store credit only. Your store credit does not expire and can be used towards same store future purchases. Store credit only applies to items returning in the same condition as purchased.  </li><br><br>
			<li style="font-weight: bold;"> What if my merchandise arrives damaged?</li><br>
				<li> Please inspect your purchase carefully before payment. Once you approve and we load your purchase, you become 100% responsible and any damage that may be caused afterwards becomes your responsibility.</li><br><br>
			<li style="font-weight: bold;"> Do you offer custom orders?</li><br>
				<li> While we encourage and strive to accommodate special requests and use our customers valuable feedback all the time, we are not able to produce custom orders and maintain high quality products at affordable wholesale prices. We direct-import our furniture from Artisans and factories overseas realizing cost savings that are passed on to our customers.</li><br><br>
			<li style="font-weight: bold;"> Is there a trade discount available for resellers and design professionals?</li><br>
				<li> We are happy to assist resellers and design trade professionals looking to find items for their clients. Please contact us with your credentials for more information.</li><br><br>
    </ol>
  </div>
</section>

