<section class="footer">
	<div class="footer-locations">
		<div class="loc">
      <h1>Doral/Miami Store<h1>
      <ol>
        <li>2190 NW 87th Ave Doral, FL 33172</li>
        <li>305-697-9424</li>
        <li><a ng-href="www.artisandoral.com">www.artisandoral.com</a></li>
        <li>Hours of Operation:</li>
        <li>Tue-Sat (11am – 6pm)</li>
        <li>Sun-Mon (Closed)</li> 
      </ol>
   	</div>
		<div class="loc">
      <h1>Orlando Store<h1>
      <ol>
        <li>5313 E Colonial Dr, FL 32807</li>
        <li>407-917-6717</li>
        <li><a ng-href="www.artisanorlando.com">www.artisandoral.com</a></li>
        <li>Hours of Operation:</li>
        <li>Mon-Sat (11am – 7pm)</li>
        <li>Sunday (12am - 5pm)</li> 
      </ol>
    </div>
    <div class="loc">
      <h1>Medley Warehouse<h1>
      <ol>
        <li>7750 NW 72ND Ave Medley, FL 33166</li>
        <li>305-888-1799</li>
        <li><a ng-href="www.artisandoral.com">www.artisandoral.com</a></li>
        <li>Hours of Operation::
        <li>Mon-Fri (10am – 5pm)</li>
        <li>Sat-Sun (Closed)</li>
      </ol>
    </div>
	</div>
	<p class="getYear">&copy; 2015-2016</p>
</section>