<div class= "home">
	
	<div class= "cta">
		<p>New Treasures Arriving Soon <br> Join Our Mailing List</p>
	</div>

	<div class= "about">
		<h1>About Artisan</h1>
		<p>Welcome to a new a ever changing collection of unique handcrafted timeless furniture
		<br>and home decor at irresistible wholesale prices to the public. We aim to offer 
		<br>the highest quality furniture at affordable prices.
		<br>
		<br>
		<br>Traveling extensively and working closely with the factories to develop and 
		<br>acquire our furniture and home decor. World travel is how we find these  
		<br>gems mainly from India, Indonesia, and China. Upon every visit you  
		<br>will immerse yourself into a world of furniture, artisans, souks,
		<br>shipping lines, and travel. We love what we do and are proud of  
		<br>our selection and quality. We search endlessly to provide the
		<br>best possible quality at the most reasonable price!
		<br>
		<br>
		<br>Staff members do not work on commission and are 
		<br>available to answer your questions. If your 
		<br>unable to find the perfect piece talk 
		<br>to a staff member because chances 
		<br>are we may have it in stock 
		<br>at another location.
		<br>Need furniture?
		<br>
		<br>Visit 
		<br>us.
		</p>
	</div>

	<footer class="cf" ng-controller="HomeCtrl" ng-include="'views/footer.html'"></footer>
	
</div>