<div class= "home">
	<div class= "cta">
		<p>New Treasures Arriving Soon <br> Join Our Mailing List</p>

	</div>
	<div class= "about">
		<h1>content</h1>
		<p>

Welcome to a new a ever changing collection of unique handcrafted timeless furniture
and home decor at irresistible wholesale prices to the public. We aim to offer the  highist
quality furniture at affordable prices.

Traveling extensively and closely with the factories to develop and acquire
our furniture and home decor mainly fromIndia, Indonesia, and China. Upon every
visit you will emerse yourself into a world of furniture, artisans, souks, shipping
lines, and travel. We love what we do and are proud of our selection and quality. 
We work hard to get the best possible quality at the most reasonable price!

Our sales staff don’t work on commission and are available to answer your questions
and help you make a selection, not pressure you into buying. If your unable to find 
the perfect peice talk to a staff member because chances are we may at another location.


</p>
	</div>


</div>