<div class= "home">
	
	<div class= "cta">
		<p> Your home should tell the story of who you are, and be a collection of what you love.<br><a href="#/register" class="btnA">Join Today </a></p>
	</div>

	<div class= "about">
		<div class="center">
			<h1>About Artisan</h1>
				<p>Welcome to a new a ever changing collection of unique handcrafted timeless furniture and home decor at irresistible wholesale prices to the public. We aim to offer the highest quality furniture at affordable prices.<br><br>
				
				
				Traveling extensively and working closely with the factories to develop and 
				acquire our furniture and home decor. World travel is how we find these gems mainly from India, Indonesia, and China. Upon every visit you will immerse yourself into a world of furniture, artisans, souks, shipping lines, and travel.We love what we do and are proud of our selection and quality. We search endlessly to provide the best possible quality at the most reasonable price!</br><br>
				
				
				Staff members do not work on commission and are available to answer your questions. If your unable to find the perfect piece talk to a staff member because chances are we may have it in stock at another location. We look forward to helping you come by today.
				</p>
		</div>
	</div>
	<div class= "cta">
		<p> Come check out our active Facebook page! <br><a href="#/register" class="btnA">Like Us </a></p>
	</div>
</div>