<style type="text/css">a {text-decoration: none}</style>
<a ng-href="#/miami">
  <section class="card-location">
    <div class="location1">
      <h1>Doral/Miami Store:<h1>
      <ol>
        <li>2190 NW 87th Ave Doral, FL 33172</li>
        <li>Phone: 305-697-9424</li>
        <li ng-href="www.artisandoral.com">www.artisandoral.com</li>
        <li>Hours: Tue-Sat 11am – 6pm</li>
        <li>       Sunday Closed</li> 
      </ol>
    </div>
  </section>
</a>

<a ng-href="#/orlando">
  <section class="card-location">
    <div class="location2">
      <h1>Orlando Store:<h1>
      <ol>
        <li>5313 E Colonial Dr | Orlando FL 32807</li>
        <li>Phone: 407-917-6717</li>
        <li ng-href="www.artisandoral.com">www.artisandoral.com</li>
        <li>Hours: Mon-Sat 11am – 7pm</li>
        <li>       Sunday 12am - 5pm</li> 
      </ol>
    </div>
  </section>
</a>
