<style type="text/css">a {text-decoration: none}</style>
<a ng-href="https://www.google.com/maps/place/2190+NW+87th+Ave,+Doral,+FL+33172/@25.7946336,-80.3397905,17z/data=!4m5!3m4!1s0x88d9b96c0cb76701:0x6e4f20c88f632f3b!8m2!3d25.7946336!4d-80.3376018">
  <section class="card-location">
    <div class="location1">
      <h1>Doral/Miami Store:<h1>
      <ol>
        <li>2190 NW 87th Ave Doral, FL 33172</li>
        <li>305-697-9424</li>
        <li ng-href="www.artisandoral.com">www.artisandoral.com</li>
        <li>Hours of Operation::</li>
        <li>Tue-Sat (11am – 6pm)</li>
        <li>Sun-Mon (Closed)</li> 
      </ol>
    </div>
  </section>
</a>

<a ng-href="https://www.google.com/maps/place/5313+E+Colonial+Dr,+Orlando,+FL+32807/@28.5550135,-81.3193879,17z/data=!3m1!4b1!4m5!3m4!1s0x88e765159cf21439:0xcda819882f4153b6!8m2!3d28.5550135!4d-81.3171992">
  <section class="card-location">
    <div class="location2">
      <h1>Orlando Store:<h1>
      <ol>
        <li>5313 E Colonial Dr | Orlando FL 32807</li>
        <li>407-917-6717</li>
        <li ng-href="www.artisanorlando.com">www.artisanorlando.com</li>
        <li>Hours of Operation:</li>
        <li>Mon-Sat (11am – 7pm)</li>
        <li>Sunday (12am - 5pm)</li> 
      </ol>
    </div>
  </section>
</a>

<a ng-href="https://www.google.com/maps/place/7750+NW+72nd+Ave,+Medley,+FL+33166/@25.8442478,-80.3168868,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9ba4e8aa34c0d:0xb13391f8ec8f5ac4!8m2!3d25.8442478!4d-80.3146981">
  <section class="card-location">
    <div class="location3">
      <h1>Medley Warehouse:<h1>
      <ol>
        <li>7750 NW 72ND Ave Medley 33166</li>
        <li>305-888-1799</li>
        <li ng-href="www.artisandoral.com">www.artisandoral.com</li>
        <li>Hours of Operation::
        <li>Mon-Fri (10am – 5pm)</li>
        <li>Sat-Sun (Closed)</li>
      </ol>
    </div>
  </section>
</a>
