<section class="card-location">
  <div class="location">
    <h1>Doral/Miami Store:<h1>
    <ol>
      <li>2190 NW 87th Ave Doral, FL 33172</li>
      <li>Phone: 305-697-9424</li>
      <li><a ng-href="www.artisandoral.com">www.artisandoral.com</a></li>
      <li>Hours: Tue-Sat 11am – 6pm</li>
    </ol>
  </div>
  <div class="location">
    <h1>Orlando Store:<h1>
    <ol>
      <li>5313 E Colonial Dr | Orlando FL 32807</li>
      <li>Phone: 407-917-6717</li>
      <li><a ng-href="www.artisandoral.com">www.artisandoral.com</a></li>
      <li>Hours: Mon-Sat 11am – 7pm</li>
      <li>       Sundays 11am - 5pm</li> 
    </ol>
  </div>
</section>
<footer class="cf" ng-controller="HomeCtrl" ng-include="'views/footer.html'"></footer>