<section class="card">
  <form name="myform"
    ng-submit="login()"
    novalidate>

    <div class="textintro">
      <h1>Login Form</h1>
    </div>
    <div ng-app="myApp" ng-controller="RegisterController">
      Email: <input type="text" ng-model="email">
      Password: <input type="text" ng-model="password">
      <br><br>
      <button ng-click="createUser()">Create User</button>
      <br><br>
      <p ng-if="message">Message: <strong>{{ message }}</strong></p>
      <p ng-if="error">Error: <strong>{{ error }}</strong></p>
    </div>

     <a ng-href="#/register">Register</a></p>
     
      <div id="fb-root"></div>

      <fb:login-button show-faces="true" max-rows="1" size="large" data-auto-logout-link="true"></fb:login-button>

      

      <div id="status"></div>

  </form>

</section>
