<section class="card">
  <form name="myform"
    ng-submit="login()"
    novalidate>

    <div class="textintro">
      <h1>Login Forms</h1>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email"
       ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>


      <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>

    </fieldset>

    <button type="submit"1
      ng-disabled="myform.$invalid">Login</button>
    <p>or <a ng-href="#/register">Register</a></p>



<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" on-click="registerFB" data-auto-logout-link="true" >
</fb:login-button>

    <div id="status">
    </div>

  </form>

</section>
