<!-- The class branding is in my css and attaches the font and styles to my logo -->
<div class="skew">
	<div class="logo">
	  <div class="branding" ><a ng-href="#/home">LOGO</a></div>
	</div>

	<!-- This first ul contains my nav options ng-hide will hide this when they log in -->
	<ul ng-controller="LoginController"> 
		<li><a ng-hide="currentUser" ng-click="checkLoginState()" ng-href="#/login">LOGIN</a></li>
		<li><a ng-hide="currentUser" ng-href="#/register">SIGN-UP</a></li>
	</ul>

	<!-- My second ul contains the nav for after they log in that will show user name and logout option -->
	<ul  class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
	  	<li><a ng-href="#/login" ng-click="logout()">Logout</a></li>
	    <li><span class="userinfo2"> Welcome {{ currentUser.firstname}} </span></li>
	</ul>
</div>
<div class="nav2">
	<ul> 
		<li><a ng-hide="currentUser" ng-href="#/locations">Locations</a></li>
		<li><a ng-hide="currentUser" ng-href="#/gallery">Gallery</a></li>
		<li><a ng-hide="currentUser" ng-href="#/about">About</a></li>
		<li><a ng-hide="currentUser" ng-href="#/home">Home</a></li>



	</ul>
</div>
