<section class="card">
    <div class="signup__form">
      <form name="myform" ng-submit="submit()">
        <h1>Registration Form</h1>
          <fieldset class="form-body">
            <div class="form-model">
              <label>Your Name</label><br>
                <input class="form-control" type="text" name="username" ng-model="user.username" placeholder="First and Last" ng-required="true" >
                <p class="error validationerror" 
                ng-show="myform.username.$invalid && myform.username.$touched">Last name required</p>
            </div>
            <div class="form-model">
              <label>Email</label><br>
                <input class="form-control" type="email" name="email" ng-model="user.email" placeholder="Your@email.com" ng-required="true" >
                <p class="error validationerror" 
                ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>
            </div>
            <div class="form-model">
              <label>Phone Number</label><br>
                <input class="form-control" type="tel" name="phone" ng-model="user.phone" placeholder="(xxx-xxx-xxxx)" pattern="^\d{7}$"  >
                <p class="error validationerror" 
                ng-show="myform.phone.$invalid && myform.phone.$touched">Requires seven numeric characters</p>
            </div>
            <div class="form-model">
              <label>Password</label><br>
                <!-- Reference login.html for form notes, this line also shows some options for setting standards for valid fields. -->
                <input class="form-control" type="password" name="password" ng-model="user.password" placeholder="********" ng-required="true" ng-minlength="6" ng-maxlength="12" >
                <p class="error validationerror" 
                ng-show="myform.password.$invalid && myform.password.$touched">Password 6-12 characters in length</p>
            </div>
            <div class="form-model">
                <label>Confirm Password:</label><br>
                <input class="form-control"  type="password" name="passwordVal" ng-model="user.passwordVal" placeholder="Confirm Password" ng-pattern="(password)" ng-required="true">
                <p class="error validationerror"
                ng-show="myform.passwordVal.$valid && myform.passwordVal.$error.pattern">Password must match above</p>
            </div>
          </fieldset>
        <div>
          <ul>
            <li>
              <!-- The error button communicates with the user and shows that the form is not finished -->    
              <button class="btn--formInVal" ng-hide="myform.$valid">Finish Form</button>
              <!-- The success button only appears on a valid complete form being true -->
              <button class="btn--form" type="submit" value="Register" ng-show="myform.$valid">Submit Form</button>
            </li>
            <li>
              <a class="signup__link" href="#/login">I am already a member</a>
            </li>
          </ul>
          <!-- Another chance to loggin to facebook like in login.html -->
          <button class="loginBtn loginBtn--facebook" ng-click="signinWithFacebook()">Login with Facebook</button>
        </div>
      </form>  
    </div>
</section>

