/* apply a natural box layout model to all elements, but allowing components to change */

/* Reset Styles */

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
} 

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background: url("img/Color.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
}

@media only screen and (max-width: 670px) {.card{width: 100%}}
.card { 
  background: rgba(255, 255, 255, .95);
  width: 70%;
  color: #222;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1em;
  max-width: 1850px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(.25,0,0,.25);
}

.card h1 {
  font-size: 2em;
}
.card .pure-control-group label {
  text-align: left;
}
.card-location {
  background: rgba(255, 255, 255, .95);
  width: 80%;
  color: #222;
  margin-bottom: 5em;
  margin-top: 5em;
  max-width: 1850px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(.25,0,0,.25);
}

.card-location .location1 {
  background-image: url("img/M.png");
  background-repeat: no-repeat ;
  background-position: right 0px ;
  background-size: 50%;
}

.card-location .location2 {
  background-image: url("img/O.png");
  background-repeat: no-repeat ;
  background-position: right 0px ;
  background-size: 50%;
}

.card-location .location1 li {
  font-size: .6em;
}

.card-location .location2 li {
  font-size: .6em;
}


.card-location li {
  font-size: .4em;
}
@media only screen and (max-width: 1000px) {.card-location li {font-size: .8em}}
.card-location h1 {
  padding-left: 1em;
  padding-right: 1em;
}

.card-location-miami {
  background: rgba(255, 255, 255, .95);
  color: #222;
  margin-bottom: 5em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.card-location-orlando {
  background: rgba(255, 255, 255, .95);
  color: #222;
  margin-bottom: 5em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.card-location-miami div {
  height: 800px;
  background: url("img/M.png") no-repeat center center fixed; 
  background-size: cover;
}
.card-location-orlando div {
  height: 800px;
  background: url("img/O.png") no-repeat center center fixed; 
  background-size: cover;
}

.home {
  position: relative;
  width: 100%;
  text-align: center;
  clear: both;
}

@media only screen and (max-width: 670px) {.cta p{font-size: .9em;}}

.about {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;;
  font-weight: 700;
  background-color: white;
  background-image: url("img/About1.jpg"), url("img/About2.jpg");
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-position: left 0px bottom 0px, right 0px bottom 0px;
  background-size: 25%;
  background-color: rgba(0,0,0,.80);
  background-repeat: no-repeat;
}
.about .center {
  width: 40%;
  margin-left: 30%
}
@media only screen and (max-width: 370px) {.about{
  padding-bottom: 150px;
  background-size: 45%;

}}


.about .center p {
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: .7em;
}
@media only screen and (max-width: 370px) {.about .center {
  width:80%;
  margin-left:10%;

}}

.about h1 {
  font-size: 1.2em;
  color: white;
  font-family: "Cooper Std";
}
.background{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Noteworthy;
  font-weight: 200;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}


a {
  color: white;
  font-weight: 700;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

h1 { 
  font-size: 3vw;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: 'Lato' ,appleLogo,sans-serif;

}

.formInput {
  padding: 10px;
}
        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            width: 40%;
            max-width: 400px;
            min-width: 200px;
            margin: .4em;
            height: 2em;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

nav {
  position: relative;
  width: 100%;
  opacity: .95;
  background-color: #222;
  background-image: url("img/LogoWebSVG.png");
  background-repeat: no-repeat;
  background-position: top 5px left 5px;
  background-size: 11em; 
  height: 90px;
  mix-blend-mode: multiply;
}
@media only screen and (max-width: 670px) {nav{
  background-size: 9em;
  }}

.logo {
  text-align: center;
  float: left;
}

.line {
  clear: both;
  margin-top: 4px;
  height: 5px;
  width: 70%;
  float: right;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: .92;
}

.btnA {
  border: 5px solid #2c3e50;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: 'trebuchet ms';
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: .7rem;
  margin-top: 1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

.btnA::before {
  content: "";
  background-color: #E26A6A;
  box-shadow: 10px 10px 0 #F1C40F, 
              20px 20px 0 #3498DB;
  position: absolute;
  left: 0.25rem;
  top: 0.5rem;
  height: 102%;
  width: 102%;
  z-index: -1;
  transition: all 0.4s ease;
}

.btnA:hover::before {
  box-shadow: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.branding a  {
  width: auto;
  font-family: 'Noteworthy';
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.nav1 a:hover {
  color: gold;
}

nav ul li {
  float: right;
  margin-top: 1.5em;
  color: white;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}
@media only screen and (max-width: 670px) {nav ul li{
  margin-top: 2.5em;
  font-size: .9em;
  }}


nav ul li.user {

  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

nav ul li.user.hello {
  margin-left: 60px;
}

nav ul li a{
  text-align: center;
  margin: 10px 0px;
  padding: 10px 15px;
  text-decoration: none;
}

nav ul li span{
  float: left;
  text-align: center;
  margin: 10px 10px;
  padding: 10px 15px;
  text-decoration: none;
}

nav .nav2 li a:hover {
  color: red;
}

nav li a:hover {
  color: white;
}

nav .nav2 li a:active {
  color: #E76C5A;
}

.active {background:red;}
nav .nav2 li a {
  color: #000;
  font-size: .8em;
  font-weight: bolder;

}

nav .nav2 {
  float: right;
  clear: right;
  margin-top:16px;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height:50px;
  width:100%;
  color: white;
  mix-blend-mode: multiply;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(5,5,5,.25), rgba(10,10,10,.5), rgba(15,15,15,.75), rgba(20,20,20,1));
  opacity: .92;
}

footer .getYear {
  text-align: center;
}


.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Cooper Std";
}
.cta p {
  font-size: 2em;
  text-align: center;
  padding:10px;
  width: 100%;
  background-color: #222;
  color: white;
  transform; translate Z(0);

  -webkit-mix-blend-mode: multiply;
  -moz-mix-blend-mode: multiply;
  -o-mix-blend-mode: multiply;
  mix-blend-mode: multiply;
  will-change: opacity;

  background: linear-gradient(to bottom, 
    rgba(0,0,0,1), 
        rgba(0,0,0,.9), 
            rgba(0,0,0,.8), 
                rgba(0,0,0,.7), 
                    rgba(0,0,0,.6), 
                        rgba(0,0,0,.5), 

    rgba(0,0,0,4));
}
@media only screen and (max-width: 370px) {.cta p {
font-size: 1.4em;

}}
font-size: 2em;

.userinfo {
  text-align: center;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

.userinfo a {
  color: #2D8BCF;
}

.userinfo input {
    width: auto;
}

input.ng-invalid.ng-touched {
  border: 2px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 2px solid #509D12;
}

.error {
  color: red;
}

textarea{
  height: 50px;
  width: 700px;
  background: #f2f2f2;
}