/* apply a natural box layout model to all elements, but allowing components to change */

/* Reset Styles */

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

html {
} 

ol, ul {
  list-style: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; 
}

q, blockquote {
  quotes: none; 
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; 
}

a img {
  border: none; 
}



html {
  background: url("img/Color.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card { 
  background: rgba(255, 255, 255, .95);
  width: 70%;
  color: #222;
  text-align: center;
  padding-bottom: 1em;
  max-width: 1850px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(.25,0,0,.25);
}
@media only screen and (max-width: 670px) {.card{width: 100%}}

.card-logout { 
  background: rgba(255, 255, 255, .95);
  width: 70%;
  color: #222;
  text-align: center;
  padding-bottom: 10em;
  margin-top: 3em;
  margin-bottom: 18em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(1,0,0,1);
}

.card h1 {
  font-size: 2em;
}

@media only screen and (max-width: 600px) {.card .pure-control-group {
  text-align: center;
  width:85%;
  margin: auto;
}}

.card-faq {
  background: rgba(255, 255, 255, .95);
  width: 80%;
  color: #222;
  padding-top: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 3em;
  margin-bottom: 6em;
  max-width: 1850px;
  font-size: .8em;
  margin-left: auto;
  clear: both;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(.25,0,0,.25);
}

.card-faq li {
  font-size: .5em;

}

.card-location {
  background: rgba(0, 0, 0, .92);
  width: 80%;
  clear: both;
  color: white;
  margin-bottom: 2em;
  margin-top: 2em;
  max-width: 1850px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(1,0,0,1);
  position: relative;
}
@media only screen and (max-width: 470px) {.card-location {
  width: 100%;
}}
.card-location .location1 {
  background-image: url("img/D.png");
  background-repeat: no-repeat ;
  background-position: right 0px;
  background-size: contain;
  background-size: 60%;
}

.card-location .location2 {
  background-image: url("img/O.png");
  background-repeat: no-repeat ;
  background-position: right 0px;
  background-size: contain;
  background-size: 60%;
}

.card-location .location3 {
  background-image: url("img/W.png");
  background-repeat: no-repeat ;
  background-position: right 0px;
  background-size: contain;
  background-size: 60%;
}

.card-location  li {
  font-size: .55em;
}
@media only screen and (max-width: 470px) {.card-location  li {
  font-size: .7em
}}

.card-location h1 {
  padding-left: 1em;
  padding-right: 1em;
}

body .card-location .Coral button {
  color: #fff;
  overflow: hidden;
  font-size: .6em;
  border-radius: 5px;
  padding: 3px;
  border: 1.5px solid #fff;
  background: #222;
  transition: all 8s ease;
  position: absolute;
  bottom: .2em;
  right: 24em;  
}

.card-location .Coral button span {
  position: absolute;
  content: '';
  top: 2.05em;
  left: 25%;
  width: 20em;
  height: 20em;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  transition: all 1s ease, top 1.5s ease;
}
.card-location .Coral button .Coralwave1 {
  background: #ffb733;
  animation: smallwave 3s infinite linear;
}
.card-location .Coral button .Coralwave2 {
  background: #f97890;
  animation: smallwave 4s infinite linear;
}
.card-location .Coral button .Coralwave3 {
  background: #4ab3e1;
  animation: smallwave 5s infinite linear;
}
.card-location .Coral button:hover {
  transition: all 1s ease;
}
.card-location .Coral button:hover span {
  top: 0.5em;
  transition: all 1s ease, top 1.5s ease;
}

@-moz-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-o-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}

.home {
  position: relative;
  width: 100%;
  text-align: center;
  clear: both;
}

.about {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2em;
  margin-bottom: 2rem;
  font-family: "Lato", 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: white;
  background-image: url("img/About1.jpg"), url("img/About2.jpg");
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-position: left 0px bottom 0px, right 0px bottom 0px;
  background-size: 25%;
  background-color: rgba(0,0,0,.8);
  background-repeat: no-repeat;
}
@media only screen and (max-width: 470px) {.about{
  padding-bottom: 210px;
  background-size: 45%;
}}

.about .center {
  width: 40%;
  margin-left: 30%;
}
@media only screen and (max-width: 470px) {.about .center {
  width:80%;
  margin-left:10%;
}}

.about p {
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: .7em;
}
@media only screen and (max-width: 570px) {.about p{
  font-size: 1.2em;
}}

.about h1 {
  font-size: 1.5em;
  color: white;
  font-family: "Noteworthy";
  font-weight: 700;
}
@media only screen and (max-width: 570px) {.about h1{
  font-size: 1.2em;
}}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noteworthy";
  font-weight: 200;
}

.card-location a {
  color: #E76C5A;
}

h1 { 
  font-size: 3vw;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
}

.formInput {
  padding: 10px;
}
        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            border: black;
            width: 40%;
            max-width: 400px;
            min-width: 200px;
            margin: .4em;
            height: 2em;
        }

        .button-success {
            background: rgb(50, 184, 50); /* this is a green */
              box-shadow: 3px 3px 2px #292;
        }

        .button-error {
          color: #666;
            background: rgb(202,120,120); /* this is a maroon */
              box-shadow: 3px 3px 2px #944;
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

.line {
  clear: both;
  margin-top: 4px;
  height: 5px;
  width: 100%;
  float: right;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: .92;
}

.btnA:hover::before {
  box-shadow: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

nav .userNav {
  position: relative;
  width: 100%;
  opacity: .92;
  background-color: #000;
  background-image: url("img/LogoWebSVG.png");
  background-repeat: no-repeat;
  background-position: top 5px left 5px;
  background-size: 15%; 
  height: 90px;
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 470px) {nav .userNav{
  height:75px;
  background-size: 35%;
}}

nav .userNav a:hover {
  color: gold;
}

nav div a {
  text-align: center;
  text-decoration: none;
  float: right;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

@media only screen and (max-width: 470px) {nav div a{
  margin-top: 1.5em;
  font-size: .9em;
}}

nav .userNav a {
  color: white;
  margin: 10px 0px;
  padding: 5px 15px;
  margin-top: 1.2em;
  font-size: 1.5em;
  font-weight: 700;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 470px) {nav .userNav a {
  font-size: 1em;
}}

nav .siteNav a {
  color: black;
  margin: 10px 0px;
  padding: 0px 15px;
  font-size: 1em;
  font-weight: 700;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

nav .siteNav a:hover {
  color: #E76C5A;
}

nav .siteNav a:active {
  color: #E76C5A;
}

nav .siteNav a{
  color: black;
  font-size: .9em;
  font-weight: bolder;
  float: right;
  margin-top:16px;
  text-decoration: none;
}

footer {
  position: relative;
  color: white;
  width: 100%;
  opacity: .92;
  overflow: hidden;
  background-color: #000;
  background-image: url("img/LogoWebSVG.png");
  background-repeat: no-repeat;
  background-position: bottom 45% right 5%;
  background-size: 28%;
}

/*Adjust footer logo to scale properly*/
@media only screen and (max-width: 800px) {footer { 
background-position: bottom 50% right 5%;
background-size: 40%;
}}


/*Removes overlap of logo */
footer .footer-locations .loc:last-child {
  margin-right: 300px;
}

footer .footer-locations li {
  font-size: .6em;
  text-decoration: none;
}

footer .footer-locations li a{
  color: #E76C5A;
}

footer .footer-locations h1 {
  font-size: 1em;
  font-weight: 700;
}

footer .footer-locations .loc {
  float: left;
  display: inline-block;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

footer p {
  clear: both;
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.error {
  color: red;
}

textarea{
  height: 50px;
  width: 700px;
  background: #f2f2f2;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0);
}


/* Facebook */

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/*Animated Logout Button*/

.animate-btn {
  float: right;
  clear: both;
  display: block;
  width: 80px;
  margin: 4px 4px;
  padding: 8px 8px;
  border: 2px solid #fff;
  background: rgba(255, 220, 220, 0.5);
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all .3s ease;
}

.animate-btn::after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #900;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  transition: all .3s ease 0s;
}

.zoomout-btn::after {
  content: " ";
  display: block;
  width: 0%;
  border-radius: 50%;
  opacity: .5;
  transform: translateX(-50%) translateY(-50%);
}

.zoomout-btn:hover::after {
  position: relative;
  height: 450%;
  width: 110%;
  opacity: .9;
}

/*Slide Show*/

.slideshow , .slideshow:after {
  position: relative;
  min-height: 550px;
  height: 100%;
  width: 100%;
}   

@media only screen and (max-width: 600px) {.slideshow, .slideshow:after{ 
  min-height: 380px;
}}
@media only screen and (max-height: 300px) {.slideshow, .slideshow:after{ 
  min-height: 280px;
}}

.slideshow:after {
  content: '';
    background-image: -moz-linear-gradient(45deg, #666 25%, transparent 25%), 
        -moz-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -moz-linear-gradient(45deg, transparent 75%, #666 75%), 
        -moz-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #666), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #666), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #666)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #666));
    background-image: -webkit-linear-gradient(45deg, #666 25%, transparent 25%), 
        -webkit-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -webkit-linear-gradient(45deg, transparent 75%, #666 75%), 
        -webkit-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: -o-linear-gradient(45deg, #666 25%, transparent 25%), 
        -o-linear-gradient(-45deg, #666 25%, transparent 25%), 
        -o-linear-gradient(45deg, transparent 75%, #666 75%), 
        -o-linear-gradient(-45deg, transparent 75%, #666 75%);
    background-image: linear-gradient(45deg, #666 25%, transparent 25%), 
        linear-gradient(-45deg, #666 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #666 75%), 
        linear-gradient(-45deg, transparent 75%, #666 75%);
    background-size: 2px 2px;
    -webkit-background-size: 2px 2px;
    background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}
    
.slideshow li span{
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    animation: fadeslidshow 36s ease-in-out infinite;
    -webkit-animation: fadeslidshow 36s ease-in-out infinite;
    -moz-animation: fadeslidshow 36s ease-in-out infinite;
    -o-animation: fadeslidshow 36s ease-in-out infinite;
    -ms-animation: fadeslidshow 36s ease-in-out infinite;
}   

.slideshow li p {}

.slideshow li div {
    z-index: 100;
    position: absolute;
    font-size: 3em;
    font-weight: 700;
    font-family: "Noteworthy";
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: fadeslidshow 36s ease-in-out infinite;
    -webkit-animation: fadeslidshow 36s ease-in-out infinite;
    -moz-animation: fadeslidshow 36s ease-in-out infinite;
    -o-animation: fadeslidshow 36s ease-in-out infinite;
    -ms-animation: fadeslidshow 36s ease-in-out infinite;
}      
.slideshow li:nth-child(1) span {
    background-image: url("img/Slide1.JPG");
}
.slideshow li:nth-child(2) span { 
    background-image: url("img/Slide2.JPG");
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
}
.slideshow li:nth-child(3) span { 
    background-image: url("img/Slide3.JPG");
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -ms-animation-delay: 12s;
}
.slideshow li:nth-child(4) span { 
    background-image: url("img/Slide4.JPG");
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -ms-animation-delay: 18s;
}
.slideshow li:nth-child(5) span { 
    background-image: url("img/Slide5.JPG");
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
    -o-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -ms-animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
    background-image: url("img/Slide6.JPG");
    animation-delay: 30s;
    -webkit-animation-delay: 30s;
    -o-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -ms-animation-delay: 30s; 
}
.slideshow li:nth-child(7) span { 
    background-image: url("img/Slide7.JPG");
    animation-delay: 36s;
    -webkit-animation-delay: 36s;
    -o-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -ms-animation-delay: 36s; 
}
.slideshow li:nth-child(2) div { 
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s; 
}
.slideshow li:nth-child(3) div { 
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -ms-animation-delay: 12s;
}
.slideshow li:nth-child(4) div { 
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -ms-animation-delay: 18s;
}
.slideshow li:nth-child(5) div { 
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
    -o-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -ms-animation-delay: 24s; 
}
.slideshow li:nth-child(6) div { 
    animation-delay: 30s;
    -webkit-animation-delay: 30s;
    -o-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -ms-animation-delay: 30s;
}
.slideshow li:nth-child(7) div { 
    animation-delay: 36s;
    -webkit-animation-delay: 36s;
    -o-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -ms-animation-delay: 36s;
}

  /*fadeslidshow*/  
 @-webkit-keyframes  fadeslidshow {
    0%,100%,24%{opacity: 0}
    8%{opacity: 1}
    16%{opacity: 1}
 }
 
 @-moz-keyframes  fadeslidshow {
    0%,100%,24%{opacity: 0}
    8%{opacity: 1}
    16%{opacity: 1}
 }
 
 @-o-keyframes  fadeslidshow {
    0%,100%,24%{opacity: 0}
    8%{opacity: 1}
    16%{opacity: 1} 
 }
 
 @-ms-keyframes  fadeslidshow {
    0%,100%,24%{opacity: 0}
    8%{opacity: 1}
    16%{opacity: 1}  
 }

 @keyframes  fadeslidshow {
    0%,100%,24%{opacity: 0}
    8%{opacity: 1}
    16%{opacity: 1}
 }

 /*end fadeslidshow*/

 
 

